<app-modal-show title="Add new lock">
  <div>
    <form>
      <div class="form-group">
        <label for="lock">Lock Name</label>
        <input [(ngModel)]="lock.name" name="lock" type="text" class="form-control" id="lock" placeholder="Enter Lock Name here...">
      </div>
      <div class="form-group">
        <label for="tokens">Select any number of tokens that should be authenticated in this lock:</label>
        <select class="custom-select" [(ngModel)]="lock.tokens" id="tokens" name="tokens" multiple>
          <option *ngFor="let token of availableTokens" [ngValue]="token">
            {{token.id}}
          </option>
        </select>
      </div>
    </form>
    <div id="m-footer" class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="submitForm()">Submit</button>
    </div>
  </div>
</app-modal-show>
