<app-modal-show title="Add Lock">
  <div>
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Lock ID</label>
        <input [(ngModel)]="lock.id" name="id" type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter Lock ID here...">
      </div>
      <div class="form-group">
        <label for="tokens">Select any number of tokens</label>
        <select class="custom-select" [(ngModel)]="lock.tokens" id="tokens" name="tokens" multiple>
          <option *ngFor="let token of availableTokens" [ngValue]="token">
            {{token.id}}
          </option>
        </select>
      </div>
    </form>
    <div id="m-footer" class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="submitForm()">Submit</button>
    </div>
  </div>
</app-modal-show>
