menu "Wifi configuration"

    config SERVER_ADDR
        string "Server IP Address"
        help
            Enter the IP address of the authentication server

    config SERVER_PORT
        int "Server TCP port"
        range 1 65535
        default 3333
        help
            Enter the TCP port the server is listening on

    config TLS_ENABLED
        boolean "Enable TLS"
        default y
        help
            Enable TLS for wireless data transfer

endmenu